/* Declare variables for easier use */
:root {
  --primary-color: #fcfcfc;
  --secondary-color: #e8e8e8;
  --font-color: #707070;
}

body {
  background: linear-gradient(to right bottom,rgba(245, 159, 102, 0.479), rgba(132, 238, 252, 0.726)) fixed, linear-gradient(to right top,rgba(255, 251, 0, 0.274), rgba(255, 0, 149, 0.397)) fixed;
  background-size: contain;
  color: var(--font-color);
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

/* Make sure the header doesn't cover the content */
body > main, body > .main {
  padding-top: 65px;
}

.navbar {
  background-color: var(--primary-color);
}

.nav-item {
  margin: auto 0;
  vertical-align: middle;
}

.nav-item a {
  color: var(--font-color);
}

.navbar-brand {
  font-size: 2em;
  margin-top: -8px;
}

.searchbar * {
  text-align: center;
}

/* Don't center the search bar for tablets & smartphones (it's in the burger menu) */
.searchbar {
  position: relative;
}

/* Center it for large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .searchbar {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.nav-icon {
  width: 10px;
  height: 10px;
}

footer 
{
  position: absolute;
  margin-top: 30px;
  padding: 10px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: var(--font-color);
  text-align: left;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

footer a
{
  color: var(--font-color);
}

footer > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

footer > a:hover {
  color: rgb(65, 65, 65);
}

footer > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: rgb(65, 65, 65);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

footer > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}