/* Declare variables for easier use */
:root {
  --primary-color: #fcfcfc;
  --secondary-color: #e8e8e8;
  --font-color: #707070;
}

main {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid transparent;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 90%;
  overflow: hidden;
  background-color: var(--primary-color);
}

section h2 {
  text-align: center;
}

/* On mobile, cover first then information */
.manga-wrapper {
  display: flex;
  flex-direction: column;
}

/* On large devices (desktops, 992px and up),
 * cover on the left and info on the right */
@media screen and (min-width: 992px) {
  .manga-wrapper {
    flex-direction: row;
  }
}

.manga-wrapper img {
  align-self: center;
  width: 20em;
}

.information-panel {
  padding-left: 30px;
}

.information-panel dt {
  float: left;
  clear: left;
  padding-right: 10px;
}
