/* Sections should go in columns */
main {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Sections are wrapped in a blank rectangle with smooth borders */

section {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90%;
    overflow: hidden;
    background-color: #fcfcfc;
}

section h2 {
    text-align: center;
}


/* On mobile, cover first then information */
.manga-wrapper {
    display: flex;
    flex-direction: column;
}

/* On large devices (desktops, 992px and up),
 * cover on the left and info on the right */
@media screen and (min-width: 992px) {
    .manga-wrapper {
        flex-direction: row;
    }
}

.manga-wrapper img {
    align-self: center;
    width: 15em;
    height: calc(15em * 1.6);
}

.information-panel {
    padding-left: 30px;
}

/* Key and values should be on the same line. Example: "Author  Eichiiro Oda"
instead of 
"Author
Eichiiro Oda" */
.information-panel dt {
    float: left;
    clear: left;
    padding-right: 10px;
}

/* Average rating and Number of votes should appear side by side */
dd > p {
    display: inline;
}

.comments {
    list-style: none;
    padding: 0;
}

.comment {
    border: 1px solid #707070;
    margin-bottom: 10px;
}

.comment > * {
    padding: 5px;
}

.comment-header {
    border-collapse: collapse;
    border-bottom: 1px solid #707070;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment p {
    margin: 0;
}

.min-rating {
    width: 3em;
    
}

#put_comment {

    margin-top: 30px;
    padding: 10px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90%;
    overflow: hidden;
    background-color: #fcfcfc;
}

/*textarea for the page contact us*/
textarea {
    margin-top: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    outline: none;
    overflow: hidden;
    box-sizing: border-box;
}

/*button to submit the informations */
.submit {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 24px;
    background: rgb(220, 220, 220);
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}

/* animation when you hover the button*/
.submit:hover {
    background: rgb(92, 92, 92);
    color: #ffffff;
}